src/main/resources/temperatura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Wed May 10 2023 12:20:52 GMT+0200 (hora de verano de Europa central) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="temperaturas">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="temperatura" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="fecha" type="xs:date"></xs:element>
                                                 <xs:element name="temperaturaMax" type="xs:int"></xs:element>
                                                 <xs:element name="temperaturaMin" type="xs:int"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>